/*=============== FONTS ===============*/
@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-DemiBold.otf") format("opentype");
  font-weight: 600; /* Demi-Bold */
}

@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --primary-color: #ffffff;
  --secondary-color: #c4c4c4;
  --tertiary-color: #8a8f93;
  --body-color: #1e1e1e;
  --button-color: #222222;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Articulat CF", sans-serif;
  --h1-font-size: 6rem;
  --h2-font-size: 5rem;
  --h3-font-size: 2rem;
  --body-font-size: 1.375rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-demi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  color: var(--primary-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem 1rem;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--font-demi-bold);
  padding-bottom: 1.875rem;
  letter-spacing: -0.4px;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle,
.nav__close {
  display: flex;
  cursor: pointer;
}

.nav__toggle i,
.nav__close i {
  font-size: 1.15rem;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4rem;
    transition: top 0.4s;
  }
}

.nav__line {
  width: 80%;
  margin: auto;
  height: 1px;
  background-color: var(--primary-color);
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem;
}

.nav__link {
  position: relative;
  color: var(--primary-color);
  font-size: 0.9375rem;
}

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 80%;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== HERO ===============*/
.hero {
  position: relative;
  width: 100%;
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(30, 30, 30, 0) 66%, #1e1e1e 100%);
}

.hero__data {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__title {
  font-weight: var(--font-bold);
  font-size: 3.125rem;
  color: var(--primary-color);
  min-width: 300px;
}

/*=============== ABOUT ME ===============*/
.about {
  text-align: center;
  padding-bottom: 4rem;
}

.headshot__container {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: auto;
}

.headshot__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__description {
  padding-top: 1.625rem;
  padding-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: var(--font-medium);
}

.download__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 49px;
  background-color: #222222;
  color: white;
  font-size: 1.125rem;
  font-weight: var(--font-medium);
  text-decoration: none;
  border-radius: 32px;
  position: relative;
  transition: background-color 0.25s ease-in-out, transform 0.2s ease-in-out;
}

.download__button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  pointer-events: none;
}

/* Inner Shadow */
.download__button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.08);
  pointer-events: none;
}

/* Hover Effect */
.download__button:hover {
  background-color: #333333;
  transform: translateY(-1px); /* Slight lift effect */
}

.download__button::active {
  transform: translateY(0);
}

/*=============== QUALIFICATIONS ===============*/
.qualifications {
  text-align: center;
}

.qualifications__container {
  grid-template-columns: 270px;
  justify-content: center;
}

.qualifications__title {
  font-size: 2.5rem;
  font-weight: var(--font-demi-bold);
}

.category__title-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding-bottom: 2rem;
}

.category__title {
  font-size: 1.125rem;
  font-weight: var(--font-medium);
}

.category__data {
  padding-bottom: 1.8125rem;
}

.category__data > * {
  text-align: initial;
  font-weight: var(--font-medium);
}

.category__data h4 {
  font-size: 1rem;
  letter-spacing: -0.16px;
  padding-bottom: 0.875rem;
}

.category__data p {
  font-size: 0.75rem;
  color: var(--secondary-color);
  letter-spacing: -0.12px;
}

/*=============== SKILLS ===============*/
.skills__container {
  gap: 2.125rem;
}

.skill__container {
  text-align: center;
  background-color: #222222;
  padding: 1rem;
  width: 284px;
  justify-self: center;
  border-radius: 32px;
  position: relative;
}

.skill__container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  pointer-events: none;
}

/* Inner Shadow */
.skill__container::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.08);
  pointer-events: none;
}

.skill__title {
  font-size: 1.25rem;
  font-weight: var(--font-medium);
  color: var(--tertiary-color);
}

.icon__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; /* Two rows */
  gap: 20px;
  padding: 25px 20px 15px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.icon1 {
  grid-column: 1;
  grid-row: 1;
} /* First row, first column */
.icon2 {
  grid-column: 2;
  grid-row: 1;
} /* First row, second column */
.icon3 {
  grid-column: 3;
  grid-row: 1;
} /* First row, third column */
.icon4 {
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: center;
} /* Second row, between first & second */
.icon5 {
  grid-column: 2 / span 2;
  grid-row: 2;
  justify-self: center;
} /* Second row, between second & third */

.skill__icon {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.icon3 {
  width: 52px;
  height: 52px;
  margin-left: 3px;
}

#back-end {
  grid-template-columns: repeat(2, 1fr);
}

.icon6 {
  height: 58px;
  width: 58px;
}

.icon7 {
  height: 59px;
  width: 59px;
}
