/*=============== FONTS ===============*/
@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-DemiBold.otf") format("opentype");
  font-weight: 600; /* Demi-Bold */
}

@font-face {
  font-family: "Articulat CF";
  src: url("./assets/fonts/ArticulatCF-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --primary-color: #ffffff;
  --secondary-color: #c4c4c4;
  --tertiary-color: #8a8f93;
  --hero-color: #aeb7c1;
  --title-color: #e4e4e4;
  --subtitle-color: #838383;
  --body-color: #1e1e1e;
  --button-color: #222222;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Articulat CF", sans-serif;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-demi-bold: 600;
  --font-bold: 700;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  color: var(--primary-color);
}

body {
  background: linear-gradient(to bottom, #1e1e1e 16%, #000000 100%);
}

button,
input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 3.125rem;
  font-size: clamp(
    3.125rem,
    2.244718309859155rem + 3.755868544600939vw,
    5.625rem
  ) !important;
}

h2 {
  font-size: 2.5rem;
  font-size: clamp(
    2.5rem,
    1.971830985915493rem + 2.253521126760563vw,
    4rem
  ) !important;
}

h3 {
  font-size: 1.125rem;
  font-size: clamp(
    1.125rem,
    1.0369718309859155rem + 0.3755868544600939vw,
    1.375rem
  ) !important;
}

h4 {
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.9559859154929577rem + 0.18779342723004694vw,
    1.125rem
  ) !important;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  /* max-width: 1200px; */
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding-block: 7.5rem 0;
}

.section__title {
  text-align: center;
  font-weight: var(--font-demi-bold);
  color: var(--title-color);
  padding-bottom: 1.875rem;
  letter-spacing: -0.4px;
}

.section__subtitle {
  text-align: center;
  font-weight: var(--font-demi-bold);
  letter-spacing: -0.32px;
  color: var(--subtitle-color);
  padding-bottom: 2rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.125rem;
  z-index: 50;
  transition: all 0.3s ease-in-out;
  background: transparent;
}

.nav {
  /* height: 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__close {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 100;
}

.nav__toggle {
  display: flex;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  z-index: 100;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    padding-block: 3.5rem;
    transition: top 0.4s;
  }

  .show__menu {
    top: 0;
  }
}

.nav__logo {
  flex: 1;
}

.nav__list {
  text-align: left;
  margin-left: 58px;
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem;
}

.nav__link {
  position: relative;
  color: var(--primary-color);
  font-size: 1rem;
  display: inline-block;
  border-radius: 50px;
  transition: color 0.3s ease-in-out;
  padding: 0.2rem 0.7rem;
}

.nav__link::after {
  content: "";
  width: 100%;
  height: 100%; /* Slightly bigger than text */
  background: rgba(217, 217, 217, 0.1); /* Bubble effect */
  position: absolute;
  border-radius: 50px;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover::after {
  background: rgba(217, 217, 217, 0.1);
  opacity: 1;
}

.nav__link:hover {
  color: var(--secondary-color);
}

/* Active Link Bubble */
.nav__link.active::after {
  opacity: 1;
  background: rgba(217, 217, 217, 0.15);
}

/* Show menu */
.show-menu {
  top: 0px;
}

/*=============== HERO ===============*/
.hero {
  position: relative;
  width: 100%;
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.hero__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(30, 30, 30, 0) 66%, #1e1e1e 100%);
}

.hero__data {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
}

.hero__title {
  font-weight: var(--font-bold);
  color: var(--hero-color);
}

/*=============== ABOUT ME ===============*/
.about__container.grid {
  gap: 1.625rem;
}

#about {
  padding-block: 0;
}

.about {
  text-align: center;
}

.headshot__container {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: auto;
}

.headshot__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__description {
  padding-bottom: 1.25rem;
  font-size: 1rem;
  margin-left: 30px;
  font-weight: var(--font-medium);
  text-align: left;
  max-width: 550px;
}

.download__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 49px;
  background-color: #222222;
  color: white;
  font-size: 1.125rem;
  font-weight: var(--font-medium);
  text-decoration: none;
  border-radius: 32px;
  position: relative;
  transition: background-color 0.25s ease-in-out, transform 0.2s ease-in-out;
}

.download__button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  pointer-events: none;
}

/* Inner Shadow */
.download__button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 32px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.08);
  pointer-events: none;
}

/* Hover Effect */
.download__button:hover {
  background-color: #333333;
  transform: translateY(-1px); /* Slight lift effect */
}

.download__button::active {
  transform: translateY(0);
}

/*=============== QUALIFICATIONS ===============*/
.qualifications {
  text-align: center;
}

.qualifications__container {
  justify-content: center;
}

.qualifications__container.grid {
  gap: 3.8125rem;
}

.category__title-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
  padding-bottom: 2rem;
}

.category__title {
  font-size: 1.125rem !important;
  font-weight: var(--font-medium);
}

.qualifications__item {
  padding-bottom: 2.25rem;
}

.qualifications__item > * {
  text-align: initial;
  font-weight: var(--font-medium);
}

.qualifications__item h4 {
  letter-spacing: -0.16px;
  padding-bottom: 0.875rem;
}

.qualifications__item p {
  font-size: 0.75rem;
  color: var(--secondary-color);
  letter-spacing: -0.12px;
}

.qualifications__timeline {
  position: relative;
  width: 10px;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
}

.timeline__line {
  position: absolute;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(196, 196, 196, 0) 0%,
    rgba(196, 196, 196, 0.8) 25%,
    rgba(196, 196, 196, 1) 50%,
    rgba(196, 196, 196, 0.8) 75%,
    rgba(196, 196, 196, 0) 100%
  );
}

.timeline__dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

#web-designer,
#eng-maths {
  padding-bottom: 0;
}

/*=============== SKILLS ===============*/
.skills__container.grid {
  gap: 3.125rem;
}

.skill__container {
  text-align: center;
  width: 284px;
  justify-self: center;
  position: relative;
}

.skills__container > *:nth-child(3) {
  padding-bottom: 0;
}

.skill__title {
  font-size: 1.25rem !important;
  font-weight: var(--font-medium);
  color: var(--tertiary-color);
}

.icon__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; /* Two rows */
  column-gap: 18px;
  padding-top: 0.875rem;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.icon1 {
  grid-column: 1;
  grid-row: 1;
} /* First row, first column */
.icon2 {
  grid-column: 2;
  grid-row: 1;
} /* First row, second column */
.icon3 {
  grid-column: 3;
  grid-row: 1;
} /* First row, third column */
.icon4 {
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: center;
} /* Second row, between first & second */
.icon5 {
  grid-column: 2 / span 2;
  grid-row: 2;
  justify-self: center;
} /* Second row, between second & third */

.skill__icon {
  object-fit: contain;
  background-color: var(--body-color);
  border-radius: 16px;
}

#front-end {
  row-gap: 18px;
}

#back-end,
#tools {
  grid-template-columns: repeat(2, 1fr);
}

/*=============== PROJECTS ===============*/
.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__container.grid {
  gap: 1.5rem;
}

.project__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 277.7px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.14);
  border-radius: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.project__container:hover {
  transform: translateY(-0.5px);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.75);
}

.project__image {
  height: 235.53px;
  width: 314.04px;
  border-radius: 30px;
}

.project-card__footer {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding-inline: 27px;
  padding-top: 4px;
  transition: all 0.3s ease;
}

.project-card__icon {
  transition: color 0.3s ease;
}

.project-card__footer:hover .project-card__icon:hover {
  color: rgba(255, 255, 255, 0.75);
}

.project-card__footer i {
  font-size: 17.53px;
}

.project-card__title {
  font-size: 0.875rem;
  font-weight: var(--font-medium);
}

/*=============== CONTACT ===============*/
#contact__title {
  padding: 0;
}

.contact__method-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.contact__method-data {
  font-weight: var(--font-medium);
}

.contact__method-data a {
  color: inherit;
  transition: opacity 0.3s ease-in-out;
}

.contact__method-data a:hover {
  opacity: 0.6;
}

.contact__or {
  text-align: center;
  font-weight: var(--font-demi-bold);
  color: var(--tertiary-color);
  font-size: 1rem;
  margin: 1.125rem 0;
}

#contact-message {
  margin-bottom: 2.5625rem;
}

.contact__form {
  width: min(90%, 330px);
  margin: 0 auto;
}

.input__group {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input__group label {
  position: absolute;
  top: -14.5px;
  left: 15px;
  font-size: 0.75rem;
  font-weight: var(--font-medium);
  background: #000000;
  padding: 4px;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.input__group input,
.input__group textarea {
  width: 100%;
  max-width: 100%; /* Prevents unwanted shrinking */
  min-width: 200px; /* Ensures minimum width for small screens */
  padding: 15px;
  border: 1.5px solid var(--tertiary-color);
  background: none;
  border-radius: 32px;
  outline: none;
  font-family: var(--body-font);
  font-size: 0.75rem;
  color: var(--tertiary-color);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.input__group input:-webkit-autofill,
.input__group textarea:-webkit-autofill {
  background-color: var(--body-color) !important;
  color: var(--tertiary-color) !important;
  font-family: var(--body-font);
  font-size: 0.75rem;
  border: 1.5px solid var(--tertiary-color);
  box-shadow: 0 0 0px 1000px var(--body-color) inset !important;
  -webkit-text-fill-color: var(--tertiary-color) !important;
}

.input__group input:focus,
.input__group textarea:focus {
  border-color: var(--primary-color);
  transform: translateY(-1px);
}

::placeholder {
  font-family: var(--body-font);
  font-size: 0.75rem;
  color: var(--tertiary-color);
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.input__group input:focus::placeholder,
.input__group textarea:focus::placeholder {
  opacity: 0.6;
}

.input__group textarea {
  border-radius: 20px;
  height: 100px;
  resize: none;
}

.input__group:last-of-type {
  margin-bottom: 0;
}

.contact__submit {
  width: 100%;
  padding: 15px;
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1.125rem;
  cursor: pointer;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.contact__submit i {
  transition: transform 0.3s ease-in-out;
}

/* Hover Effect */
.contact__submit:hover {
  color: var(--secondary-color);
  transform: translateX(5px);
}

.contact__submit:hover i {
  transform: translateX(5px);
}

/* Click Effect */
.contact__submit:active {
  transform: scale(0.95);
}

#submit__arrow {
  margin-bottom: 8px;
  margin-left: 4px;
}

/*=============== FOOTER ===============*/
footer {
  padding-top: 6rem;
  padding-bottom: 1.6875rem;
}

.footer__line {
  width: 95%;
  margin: auto;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(196, 196, 196, 0) 0%,
    rgba(196, 196, 196, 0.8) 10%,
    rgba(196, 196, 196, 1) 50%,
    rgba(196, 196, 196, 0.8) 90%,
    rgba(196, 196, 196, 0) 100%
  );
  margin-bottom: 1.625rem;
}

.footer__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social {
  display: flex;
  column-gap: 2rem;
  /* padding-top: 1.625rem; */
  padding-bottom: 1.375rem;
}

.footer__social-link {
  color: var(--tertiary-color);
  font-size: 1.3125rem;
  transition: color 0.4s, transform 0.4s;
}

.footer__social-link:hover {
  color: var(--primary-color);
  transform: translateY(-0.25rem);
}

.footer__copy {
  font-size: 0.75rem;
  font-weight: var(--font-regular);
  color: var(--tertiary-color);
  text-align: center;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* Navigation for mobile devices */
@media screen and (max-width: 768px) {
  .nav__social {
    display: none;
  }

  .qualifications__timeline {
    display: none; /* Hide the timeline on mobile */
  }
}

/* For medium & large devices */
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
    margin-top: 2rem;
    width: 100%;
  }

  .nav__menu.scrolled {
    background: rgba(30, 30, 30, 0.8);
  }

  .nav__menu {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .nav__list {
    margin-left: 0;
  }

  .nav__group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
  }

  .nav__social {
    display: flex;
    column-gap: 1.25rem;
    padding-top: 1.625rem;
    padding-bottom: 1.375rem;
  }

  .nav__social-link {
    color: var(--secondary-color);
    font-size: 1.3125rem;
    transition: color 0.4s, transform 0.4s;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding: 0px 7px;
  }

  .nav__social-link:hover {
    color: var(--primary-color);
    transform: translateY(-0.25rem);
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .container {
    margin-inline: 2.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 1rem;
  }

  .nav__line {
    margin-right: 3rem;
  }

  .about__container {
    grid-template-columns: 280px 430px;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .qualifications__container {
    grid-template-columns: 320px 10px 330px;
    margin: 0 auto;
  }

  .qualifications__item h4 {
    padding-bottom: 0.4375rem;
  }

  .education__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 65px;
  }

  .education__details,
  .experience__details {
    display: flex;
    flex-direction: column;
    height: 540px;
  }

  .education__details {
    justify-content: center;
  }

  #eng-maths {
    margin-top: 20px;
  }

  .experience__details {
    justify-content: space-between;
  }

  .experience__container {
    display: flex;
    flex-direction: column;
  }

  #full-stack {
    margin-top: 40px;
  }

  .skills__container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    column-gap: 0;
  }

  .skills__container > *:first-child {
    margin-bottom: 0;
  }

  .skill__container:nth-child(1) {
    order: 2;
    width: 280px;
  }
  .skill__container:nth-child(2) {
    order: 1;
    width: 200px;
  }
  .skill__container:nth-child(3) {
    order: 3;
    width: 200px;
  }

  #back-end,
  #tools {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer__social {
    display: none;
  }
}
